<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Welcome To HDFC Bank Netbanking</title>
	{% load static %}
	<link href="{% static 'css/homepage.css' %}" rel="stylesheet">
	<!-- <script type="text/javascript" src="{% static '/js/jquery.js' %}"></script> -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript" src="{% static '/js/homescript.js' %}"></script>

</head>
<body>
	<div id="container">
		<div id="topbar">
			<p class="topopt">SmartBuy &nbsp;&nbsp;&nbsp; personalze User ID &nbsp;&nbsp;&nbsp; Insta Alerts &nbsp;&nbsp;&nbsp;
			SMS Banking Registration &nbsp;&nbsp;&nbsp; Contact Us &nbsp;&nbsp;&nbsp;</p>
		</div>
		<div id="mainbar">
			<img class="hdfcnettbanking" src="{% static 'images/HDFCNetbanking.png' %}">
			<div id="accountdetails">
				<p class="Welcome">WELCOME, SHASHANK NAMDEO</p>
				<p class="lastlog">Last Log in: Dec 02 2022 11:29 P.M. IST</p>
			</div>
			<p class="profiledetails">Change Passward &nbsp;&nbsp;&nbsp; Profile Details</p>
			<button class="logoutbutton">Logout</button>
			<div id="buttons">
			<button class="accountsbutton">Accounts</button>
			<button class="fundbutton">Fund Tranfer</button>
			<button class="billpaybutton">BillPay</button>
			<button class="cardsbutton">Cards</button>
			<button class="dematbutton">Demat</button>
			<button class="mutualbutton">Mutual Fund</button>
			<button class="insurancebutton">Insurance</button>
			<button class="loansbutton">Loan</button>
			<button class="offersbutton">Offer</button>
			</div>
		</div>
<!-- 		<div id="sidebar">
			<div id="accounts">Accounts</div>
			<div id="accountSummary">Account Summary</div>
			<hr class="horizontallin" >
			<div id="transact">Transact &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &#9658;</div>
			<hr class="horizontallin" >
			<div id="enquire">Enquire &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &#9658; </div>
			<hr class="horizontallin" >
			<div id="request">Request &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &#9658;</div>
			<hr class="horizontallin" >
		</div> -->
		<div id="mainblock">
			<div id="mainblock-section-1">
				<div id="account-summary"></div>
				<div id="print-this-page"></div>
			</div>
			<div id="account-balance">
				<div id="text-saving-account"></div>
				<div id="text-account-value"></div>
				<div id="balance-history"></div>
				<!-- <p class="p1">Savings Account</p> -->
				<!-- <p class="p2">Total Available Balance: INR 22,077.00 &nbsp;&nbsp;&nbsp;&nbsp;&#9658;&nbsp;&nbsp;</p> -->
			</div>
		</div>
	</div>
</body>
</html>


<!-- _____________________________________________________________________________________________________________ -->


<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Welcome To HDFC Bank Netbanking</title>
	{% load static %}
	<link href="{% static 'css/homepage.css' %}" rel="stylesheet">
	<script type="text/javascript" src="{% static '/js/jquery.js' %}"></script>
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
	<script type="text/javascript" src="{% static '/js/homescript.js' %}"></script>

</head>
<body>
	<div id="container">
		<div id="topbar">
			<div id="topbar-text">
				<span>
					<p>SmartBuy &nbsp;&nbsp;&nbsp; personalze User ID &nbsp;&nbsp;&nbsp; Insta Alerts &nbsp;&nbsp;&nbsp; SMS Banking Registration &nbsp;&nbsp;&nbsp; Contact Us &nbsp;&nbsp;&nbsp;</p>
				</span>
			</div>
	</div>
		<div id="mainbar">
			<!-- <p class="topopt">SmartBuy &nbsp;&nbsp;&nbsp; personalze User ID &nbsp;&nbsp;&nbsp; Insta Alerts &nbsp;&nbsp;&nbsp; SMS Banking Registration &nbsp;&nbsp;&nbsp; Contact Us &nbsp;&nbsp;&nbsp;</p> -->
		</div>
		<!-- <div id="main-container">
		<div id="sidebar"></div>
			<div id="mainblock">
				<div id="mainblock-section-1">
					<div id="account-summary"></div>
					<div id="print-this-page"></div>
				</div>
				<div id="account-balance">
					<div id="text-saving-account"></div>
					<div id="text-account-value"></div>
					<div id="balance-history"></div>
				</div>
			</div>
		</div> -->
	</div>
</body>
</html>

