<!DOCTYPE html>
<html>
<head>
<style>
.container { 
  height: 200px;
  position: relative;
  border: 3px solid green;
  background-color: blue;
}

.vertical-center {
/*  margin: 0;*/
  position: relative;
  top: 50%;
  height: 30px;
  width: 500px;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: orange;
}
</style>
</head>
<body>

<h2>Vertical Center</h2>
<p>In this example, we use positioning and the transform property to vertically center an element inside a container element:</p>

<div class="container">
  <div class="vertical-center">
    <p>I am vertically centered.</p>
  </div>
</div>

</body>
</html>
