/*

CSS IMP 

Style sheets : Need for CSS, introduction to CSS, basic syntax and structure, using
CSS,background images, colors and properties, manipulating texts, using fonts, borders and boxes, margins,
padding lists, positioning using CSS, CSS2, Overview and features of CSS3JavaScript : Client side
scriptingwith JavaScript, variables, functions, conditions, loops and repetition, Pop up boxes, Advance
JavaScript: Javascript and objects, JavaScript own objects, the DOM and web browser environments,
Manipulation using DOM, forms andvalidations,DHTML : Combining HTML, CSS and JavaScript, Events
and buttons.


*/